body {
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #3498db;
}

.input-section,
.output-section {
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.input-section {
    width: calc(40% - 48px); 
}

.output-section {
    width: calc(65% - 48px); 
}

.input-section label,
.output-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #3498db;
}

.input-section input,
.input-section select,
.input-section button {
    width: calc(100% - 24px);
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-section button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #2ecc71;
}

.output-section div {
    font-size: 16px;
    margin-bottom: 10px;
}
.step {
    padding: 6px;
}
.initial-list,
.step.final-step{
    background-color: #cc2e2e;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
}
.step.final-step {
    background-color: #2ecc71;
}

.steps-array {
    font-family: 'Courier New', monospace;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
}
.step.final-step .steps-array {
    background-color: #fff; /* Set a light background color for better contrast */
    color: #333; /* Set a dark text color for better readability */
    font-weight: 400
}



@media (max-width: 768px) {
    .input-section,
    .output-section {
        width: 100%;
    }
}
